{% extends 'base.html' %}

{% block title %}
    Dentinations
{% endblock %}

{% block content %}
    {% for dest in time_destinations%}
        <a href="{% url 'detail' dest.id %}">
            <div>
            <h3>Name:</h3>
            <span>{{dest.name}}</span>
        </div>
        </a>
<!--        <div>-->
<!--            <h3>Origin:</h3>-->
<!--            <span>{{dest.origin}}</span>-->
<!--        </div>-->
<!--        <div>-->
<!--            <h3>Destination:</h3>-->
<!--            <span>{{dest.destination}}</span>-->
<!--        </div>-->
<!--        <div>-->
<!--            <h3>Description:</h3>-->
<!--            <p>{{dest.destination}}</p>-->
<!--        </div>-->
        <a href="{% url 'destination_edit' dest.id %}"> Edit</a>
        <a href="{% url 'destination_delete' dest.id %}"> DELETE</a>

        <hr>
    {% endfor %}
{% endblock %}